.title {
  font-size: 4rem;
  font-weight: 200;
}

.text-blue {
  color: #0f62fe;
}

.text-gray {
  color: #666666;
}

.button-generic {
  margin-right: 10px;
  text-decoration: none;
}

.button-generic:hover {
  text-decoration: none;
}

.offset {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.cds--actionable-notification__subtitle {
  margin-top: 10px;
}
