@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/zone';

@use './components/Info/info';
@use './components/BasicElement/basic-element';
@use './components/HighlightsElement/highlights-element';
@use './components/PageHeader/page-header';

@use './content/LandingPage/landing-page';
@use './content/ContributingPage/contributing-page';
@use './content/DataAccessPage/data-access-page';
@use './content/AnalysisPage/analysis-page';
@use './content/AnomaliesPage/anomalies-page';
@use './content/TasksPage/tasks-page';

@use './content/Delhi/delhi';
@use './content/Haryana/haryana';
@use './content/Karnataka/karnataka';
@use './content/Kerala/kerala';
@use './content/Maharashtra/maharashtra';
@use './content/Punjab/punjab';
@use './content/TamilNadu/tamil-nadu';
@use './content/Telangana/telangana';
@use './content/Uttarakhand/uttarakhand';
@use './content/WestBengal/west-bengal';
